*.pyc
/db.sqlite3
.DS_Store
.env
**/.terraform/*
*/settings/local.py
/staticfiles/*
/static/*
/mediafiles/*
/media/*
__pycache__/

# coverage result
.coverage
coverage.xml
/coverage/

# celery
celerybeat.pid
celerybeat-schedule
celerybeat-schedule.*

# pycharm
.idea

# data
*.dump

# npm
node_modules/
npm-debug.log

#Folders
.DS_Store

# Webpack
/assets/bundles/*
/assets/webpack_bundles/*
/webpack-stats.json
/jquery-webpack-stats.json

# Sass
.sass-cache
*.map

# General
/venv/
/env/
/output/
/cache/

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

#Docker data
_data/

# VSCode
/.vscode
